<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <!--指定跳转关系
        springMVC默认是根据bean的name属性名来确定访问路径，再通过bean的全类名反射找到controller
    -->
    <!--<bean name="/hello.action" class="com.cht.springstudy.dispatcherDemo.DispatcherDemo"></bean>-->

    <!--BeanNameUrlHandlerMapping demo-->
    <!--<import resource="com/cht/springstudy/mapperDemo/BeanName/beanNameMapper.xml"/>-->

    <!--SimpleUrlHandlerMapping-->
    <import resource="com/cht/springstudy/mapperDemo/simple/SimpleMapper.xml"/>



</beans>